absl-py                               
alabaster                     
altair                                
anaconda                  
anaconda-client                           
anaconda-project              
argh                          
argon2-cffi                   
asgiref                               
asn1crypto                    
astroid                       
astropy                       
astunparse                            
async_generator               
atomicwrites                  
attrs                         
autopep8                      
babel                         
backcall                      
backports                     
backports-zoneinfo                    
backports.functools_lru_cache        
backports.shutil_get_terminal_size         
backports.tempfile        
backports.weakref         
bcrypt                    
beautifulsoup4            
bitarray                  
bkcharts                  
blas                      
bleach                    
blinker                   
blosc                     
bokeh                     
boto                      
bottleneck                
brotlipy                  
bsedata                   
bzip2                     
ca-certificates           
cachetools                
certifi                   
cffi                      
chardet                   
charset-normalizer        
click                     
cloudpickle               
clyent                    
cmake                     
colorama                  
comtypes                  
conda                     
conda-build               
conda-content-trust       
conda-env                 
conda-package-handling    
conda-repo-cli            
conda-token               
conda-verify              
console_shortcut          
contextlib2               
cryptography              
curl                      
cycler                    
cython                    
cytoolz                   
dask                      
dask-core                 
datetime                  
decorator                 
defusedxml                
diff-match-patch          
distributed               
django                    
django-tex                
dlib                      
docutils                  
entrypoints               
et_xmlfile                
face-recognition          
face-recognition-models   
fastcache                 
filelock                  
flake8                    
flask                     
flatbuffers               
freetype                  
fsspec                    
future                    
gast                      
get_terminal_size         
gevent                    
gitdb                     
gitpython                 
glob2                     
gmpy2                     
google-auth               
google-auth-oauthlib      
google-pasta              
greenlet                  
grpcio                    
h5py                      
hdf5                      
heapdict                  
html5lib                  
icc_rt                    
icu                       
idna                      
image                     
imageio                   
imagesize                 
importlib-metadata        
importlib_metadata        
imutils                   
iniconfig                 
instaloader               
intel-openmp              
intervaltree              
ipykernel                 
ipython                   
ipython_genutils          
ipywidgets                
isort                     
itsdangerous              
jdcal                     
jedi                      
jinja2                    
joblib                    
jpeg                      
json5                     
jsonschema                
jupyter                   
jupyter_client            
jupyter_console           
jupyter_core              
jupyterlab                
jupyterlab_pygments       
jupyterlab_server         
keras                     
keras-applications        
keras-preprocessing       
keyring                   
kiwisolver                
krb5                      
lazy-object-proxy         
libarchive                
libclang                  
libcurl                   
libiconv                  
liblief                   
libllvm9                  
libpng                    
libsodium                 
libspatialindex           
libssh2                   
libtiff                   
libuv                     
libwebp                   
libxml2                   
libxslt                   
llvmlite                  
locket                    
lxml                      
lz4-c                     
lzo                       
m2w64-bwidget             
m2w64-bzip2               
m2w64-expat               
m2w64-fftw                
m2w64-flac                
m2w64-gcc-libgfortran     
m2w64-gcc-libs            
m2w64-gcc-libs-core       
m2w64-gettext             
m2w64-gmp                 
m2w64-gsl                 
m2w64-libiconv            
m2w64-libjpeg-turbo       
m2w64-libogg              
m2w64-libpng              
m2w64-libsndfile          
m2w64-libtiff             
m2w64-libvorbis           
m2w64-libwinpthread-git   
m2w64-libxml2             
m2w64-mpfr                
m2w64-openblas            
m2w64-pcre                
m2w64-speex               
m2w64-speexdsp            
m2w64-tcl                 
m2w64-tk                  
m2w64-tktable             
m2w64-wineditline         
m2w64-xz                  
m2w64-zlib                
markdown                  
markupsafe                
matplotlib                
mccabe                    
menuinst                  
mistune                   
mkl                       
mkl-service               
mkl_fft                   
mkl_random                
mock                      
more-itertools            
mouseinfo                 
mpc                       
mpfr                      
mpir                      
mpmath                    
msgpack-python            
msys2-conda-epoch         
multipledispatch          
multitasking              
navigator-updater         
nbclient                  
nbconvert                 
nbformat                  
nest-asyncio              
networkx                  
nltk                      
nose                      
notebook                  
numba                     
numexpr                   
numpy                     
numpydoc                  
oauthlib                  
olefile                   
opencv-contrib-python     
opencv-python             
openpyxl                  
openssl                   
opt-einsum                
packaging                 
pandas                    
pandoc                    
pandocfilters             
paramiko                  
parso                     
partd                     
path                      
path.py                   
pathlib2                  
pathtools                 
patsy                     
pep8                      
pexpect                   
pickleshare               
pillow                    
pip                       
pkginfo                   
playsound                 
pluggy                    
ply                       
powershell_shortcut       
prometheus_client         
prompt-toolkit            
prompt_toolkit            
protobuf                  
psutil                    
py                        
py-lief                   
pyarrow                   
pyasn1                    
pyasn1-modules            
pyautogui                 
pycodestyle               
pycosat                   
pycparser                 
pycurl                    
pydeck                    
pydocstyle                
pyface                    
pyflakes                  
pygame                    
pygetwindow               
pygments                  
pyjwt                     
pylint                    
pympler                   
pymsgbox                  
pynacl                    
pyodbc                    
pyopenssl                 
pyparsing                 
pyperclip                 
pypiwin32                 
pyqt                      
pyqt5                     
pyqt5-qt5                 
pyqt5-sip                 
pyreadline                
pyrect                    
pyrsistent                
pyscreeze                 
pyside2                   
pysocks                   
pytables                  
pytesseract               
pytest                    
python                    
python-dateutil           
python-dotenv             
python-jsonrpc-server     
python-language-server    
python-libarchive-c       
pyttsx3                   
pytweening                
pytz                      
pytz-deprecation-shim     
pywavelets                
pywhatkit                 
pywin32                   
pywin32-ctypes            
pywinpty                  
pyyaml                    
pyzmq                     
qdarkstyle                
qt                        
qt5-applications          
qt5-tools                 
qtawesome                 
qtconsole                 
qtpy                      
r-base                    
r-dlib                    
r-rcpp                    
regex                     
requests                  
requests-oauthlib         
rope                      
rsa                       
rtree                     
ruamel_yaml               
scikit-image              
scikit-learn              
scipy                     
seaborn                   
semver                    
send2trash                
sentry-sdk                
setuptools                
shiboken2                 
simplegeneric             
singledispatch            
sip                       
six                       
sklearn                   
smmap                     
snappy                    
snowballstemmer           
sortedcollections         
sortedcontainers          
soupsieve                 
sphinx                    
sphinxcontrib             
sphinxcontrib-applehelp   
sphinxcontrib-devhelp     
sphinxcontrib-htmlhelp    
sphinxcontrib-jsmath      
sphinxcontrib-qthelp      
sphinxcontrib-serializinghtml         
sphinxcontrib-websupport  
spyder                    
spyder-kernels            
sqlalchemy                
sqlite                    
sqlparse                         
statsmodels               
streamlit                        
sympy                     
tbb                       
tblib                     
tensorboard                      
tensorboard-data-server          
tensorboard-plugin-wit           
tensorflow                       
tensorflow-estimator             
tensorflow-io-gcs-filesystem              
termcolor                      
terminado                
testpath                 
threadpoolctl            
tifffile                 
tk                       
tkinterhtml                    
toml                     
toolz                    
tornado                  
tqdm                     
traitlets                
traits                   
typing_extensions        
tzdata                         
tzlocal                        
ujson                    
unicodecsv               
urllib3                        
validators                     
vc                       
vs2015_runtime           
watchdog                 
wcwidth                  
webencodings             
werkzeug                 
wheel                    
widgetsnbextension       
wikipedia                      
win_inet_pton            
win_unicode_console      
wincertstore             
winpty                   
wrapt                          
xlrd                     
xlsxwriter               
xlwings                  
xlwt                     
xmltodict                
xz                       
yaml                     
yapf                     
yfinance                       
zeromq                   
zict                     
zipp                           
zlib                     
zope                     
zope-interface                 
zope.event               
zstd                         
