absl-py                               
alabaster                     
altair                                
anaconda                  
anaconda-client                                       
argh                          
argon2-cffi                   
asgiref                               
asn1crypto                    
astroid                       
astropy                       
astunparse                            
async_generator               
atomicwrites                  
attrs                         
autopep8                      
dlib==19.24.0
imutils==0.5.3
numpy==1.18.5
opencv_python==4.6.0.66
pandas==1.0.5
Pillow==9.3.0
pygame==2.1.2
scipy
streamlit
choice
datetime
Image
