CMake
absl-py                               
alabaster                     
altair                                
anaconda                  
anaconda-client                                       
argh                          
argon2-cffi                   
asgiref                               
asn1crypto                    
astroid                       
astropy                       
astunparse                            
async_generator               
atomicwrites                  
attrs                         
autopep8 
dlib==19.24.0
imutils
numpy
opencv_python
pandas
Pillow
pygame
scipy
streamlit
choice
datetime
Image
